<div class="tb2e-advancement-card">
  <div class="advancement-card-header">
    <img class="advancement-card-portrait" src="{{actorImg}}" alt="{{actorName}}">
    <div class="advancement-card-info">
      <span class="advancement-card-name">{{actorName}}</span>
      <span class="advancement-card-skill">{{label}}</span>
    </div>
  </div>
  <div class="advancement-card-banner">
    <i class="fa-solid fa-arrow-up"></i>
    <span>{{advancedLabel}}</span>
  </div>
  <div class="advancement-card-rating">
    <span class="advancement-rating old">{{currentRating}}</span>
    <i class="fa-solid fa-arrow-right"></i>
    <span class="advancement-rating new">{{newRating}}</span>
  </div>
</div>
