<div class="tb2e-chat-card card-accent--amber">
  <div class="card-header">
    <img class="card-portrait" src="{{actorImg}}" alt="{{actorName}}">
    <div class="card-info">
      <span class="card-name">{{actorName}}</span>
      <span class="card-label">{{label}}</span>
    </div>
  </div>
  <div class="card-body advancement-card-rating">
    <span class="advancement-rating old">{{currentRating}}</span>
    <i class="fa-solid fa-arrow-right"></i>
    <span class="advancement-rating new">{{newRating}}</span>
  </div>
  <div class="card-reference"><i class="fa-solid fa-book"></i> DH p. 107</div>
  <div class="card-banner banner-amber">
    <i class="fa-solid fa-arrow-up"></i>
    <span>{{advancedLabel}}</span>
  </div>
</div>
