<div class="tb2e-chat-card card-accent--green">
  <div class="card-header">
    <img class="card-portrait" src="{{actorImg}}" alt="{{actorName}}">
    <div class="card-info">
      <span class="card-name">{{actorName}}</span>
      <span class="card-label">{{label}}</span>
    </div>
  </div>
  <div class="card-body advancement-card-rating">
    <span class="advancement-rating new">{{newRating}}</span>
  </div>
  <div class="card-reference"><i class="fa-solid fa-book"></i> DH p. 75</div>
  <div class="card-banner banner-green">
    <i class="fa-solid fa-book-open"></i>
    <span>{{localize "TB2E.Skill.OpenedChatMessage"}}</span>
  </div>
</div>
