<section class="tab scrollable{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

  <div class="skills-grid">
    {{#each skills}}
    <div class="skill-row rollable{{#if hasRating}} has-rating{{/if}}{{#if isSpecialty}} specialty{{/if}}" data-action="rollTest" data-type="skill" data-key="{{key}}" data-page="{{page}}">
      <span class="skill-name">{{label}}</span>
      <span class="skill-bl" title="Beginner's Luck: {{bl}}">{{bl}}</span>
      {{#if canAdvance}}
      <button type="button" class="btn-advance" data-action="advance" data-type="skill" data-key="{{key}}">
        <i class="fa-solid fa-arrow-up"></i>
      </button>
      {{else}}
      <span class="btn-advance-spacer"></span>
      {{/if}}
      {{#if isLearning}}
      <span class="skill-rating skill-learning-x">✕</span>
      {{else}}
      <input type="number" name="{{path}}.rating" value="{{rating}}" min="0" max="10" class="skill-rating">
      {{/if}}
      {{#if isLearning}}
      {{> "systems/tb2e/templates/actors/parts/learning-bubbles.hbs"
          path=path learning=learning learningArray=learningArray}}
      {{else}}
      {{> "systems/tb2e/templates/actors/parts/advancement-bubbles.hbs"
          path=path rating=rating pass=pass fail=fail passArray=passArray failArray=failArray}}
      {{/if}}
    </div>
    {{/each}}
  </div>

</section>
