<section class="tab scrollable{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

  {{!-- Traits --}}
  <fieldset class="traits-section">
    <legend><i class="fa-solid fa-fingerprint"></i> {{localize "TB2E.Section.Traits"}}</legend>
    <div class="traits-list">
      {{#each traits}}
      <div class="trait-row" data-item-id="{{itemId}}">
        <input type="text" value="{{name}}" placeholder="Trait name"
               class="trait-name trait-name-input">
        <button type="button" class="trait-class-toggle{{#if isClass}} active{{/if}}"
                data-action="toggleClassTrait" data-item-id="{{itemId}}"
                title="Class trait" data-page="DH p.81">
          <span class="ref-label">Class Trait</span>
          <i class="fa-solid fa-shield"></i>
        </button>
        <div class="trait-level" data-page="DH p.79">
          <span class="ref-label">Level</span><label>Lv</label>
          {{#each levels}}
          <button type="button" class="level-pip{{#if active}} active{{/if}}"
                  data-action="setTraitLevel" data-item-id="{{../itemId}}" data-level="{{value}}">
            {{value}}
          </button>
          {{/each}}
        </div>
        <div class="trait-counters">
          <div class="trait-counter" data-page="DH p.79">
            <label><span class="ref-label">Beneficial</span><i class="fa-solid fa-plus"></i></label>
            <input type="number" value="{{beneficial}}" min="0"
                   class="trait-count trait-beneficial-input">
          </div>
          <div class="trait-counter" data-page="DH pp.80-81">
            <label><span class="ref-label">Checks</span><i class="fa-solid fa-check"></i></label>
            <input type="number" value="{{checks}}" min="0"
                   class="trait-count trait-checks-input">
          </div>
        </div>
        <button type="button" class="btn-icon" data-action="deleteTrait"
                data-item-id="{{itemId}}"
                title="{{localize 'TB2E.Action.DeleteRow'}}">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
      {{/each}}
    </div>
    <button type="button" class="btn-add" data-action="addTrait">
      <i class="fa-solid fa-plus"></i> {{localize "TB2E.Trait.AddTrait"}}
    </button>
  </fieldset>

  {{!-- Wises --}}
  <fieldset class="wises-section">
    <legend><i class="fa-solid fa-lightbulb"></i> {{localize "TB2E.Section.Wises"}}</legend>
    <div class="wises-list">
      {{#each wises}}
      <div class="wise-row">
        <input type="text" name="system.wises.{{@index}}.name" value="{{name}}" placeholder="Wise name"
               class="wise-name">
        <div class="wise-checks" data-page="DH pp.77-78" data-wise-index="{{@index}}">
          <span class="ref-label">Wise Advancement</span>
          <label class="wise-check" title="{{localize 'TB2E.Wise.PassTitle'}}">
            <input type="checkbox" name="system.wises.{{@index}}.pass" {{#if pass}}checked{{/if}}>
            <span>{{localize "TB2E.Wise.PassLabel"}}</span>
          </label>
          <label class="wise-check" title="{{localize 'TB2E.Wise.FailTitle'}}">
            <input type="checkbox" name="system.wises.{{@index}}.fail" {{#if fail}}checked{{/if}}>
            <span>{{localize "TB2E.Wise.FailLabel"}}</span>
          </label>
          <label class="wise-check" title="{{localize 'TB2E.Wise.FateTitle'}}">
            <input type="checkbox" name="system.wises.{{@index}}.fate" {{#if fate}}checked{{/if}}>
            <span>{{localize "TB2E.Wise.FateLabel"}}</span>
          </label>
          <label class="wise-check" title="{{localize 'TB2E.Wise.PersonaTitle'}}">
            <input type="checkbox" name="system.wises.{{@index}}.persona" {{#if persona}}checked{{/if}}>
            <span>{{localize "TB2E.Wise.PersonaLabel"}}</span>
          </label>
        </div>
        <button type="button" class="btn-icon" data-action="deleteRow"
                data-array="wises" data-index="{{@index}}"
                title="{{localize 'TB2E.Action.DeleteRow'}}">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
      {{/each}}
    </div>
    {{#if canAddWise}}
    <button type="button" class="btn-add" data-action="addRow" data-array="wises">
      <i class="fa-solid fa-plus"></i> {{localize "TB2E.Action.AddWise"}}
    </button>
    {{/if}}
  </fieldset>

</section>
